.containerTitleCareer {
    width:min-content;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 50px;
}

#titleCareer {
    margin-bottom: 4px;
    font-family: 'Poppins', sans-serif;
    color: #0c0a09;
}

.underlineTitleCareer {
    width: 75%;
    height: 8px;
    background-color: #e62f4a;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}