
.services__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.services__card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.services__card__image {
  position: relative;
  isolation: isolate;
}

.services__card__icons {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  z-index: 1;
}

.services__card__icons span {
  display: inline-block;
  padding: 2px 8px;
  font-size: 1.5rem;
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.services__card__icons span:nth-child(1) {
  color: #f472b6;
}

.services__card__icons span:nth-child(2) {
  color: #c084fc;
}

.services__card__icons span:nth-child(3) {
  color: #60a5fa;
}

.services__card__details {
  padding: 1rem;
}

.services__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.services__card p {
  margin-bottom: 0.5rem;
  color: var(--text-light);
}

.services__card h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.services__card h5 span {
  font-size: 1.1rem;
  color: var(--text-dark);
}

@media (width > 576px) {
  .services__grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (width > 768px) {
  .services__grid {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (width > 1024px) {
  .services__grid {
    gap: 2rem;
  }
}